{% extends 'news/base.html' %}
{% block content%}
        <div class="u-heading-v3-1 g-mb-30">
                  <h2 class="h5 u-heading-v3__title g-font-primary g-font-weight-700 g-color-gray-dark-v1 text-uppercase g-brd-primary">Frequently Asked Questions</h2>
                </div>
    <div class="g-brd-around g-brd-gray-light-v4 g-brd-2 g-brd-green-top g-line-height-1_8 g-pa-30 g-mb-30" role="alert">
  <h3 class="g-color-green g-font-weight-300">Tagline Border Top</h3>
  <p class="mb-0">Provide contextual feedback messages for typical user actions with the handful of available and flexible alert messages. Class name example with some code tags and others
    <code>.class</code> example. By default Bootstrap includes 4 state alerts such as "Success", "Info", "Warning" and "Danger". Check out the offecial Bootstrap Alerts page for more details here.
  </p>
</div>
{% endblock content %}
