{% extends 'news/base.html' %}
{% load crispy_forms_tags %}
{% block content%}
        <div class="u-heading-v3-1 g-mb-30">
                  <h2 class="h5 u-heading-v3__title g-font-primary g-font-weight-700 g-color-gray-dark-v1 text-uppercase g-brd-primary">Welcome</h2>
                </div>
    <div>
        <div class="content-section mb-3">
          <div class="media">
            <img class="rounded-circle account-img d-flex g-width-100 g-height-100 mr-2" src="{{ user.profile.image.url }}">
            <div class="media-body">
              <h2 class="account-heading">{{ user.username }}</h2>
              <p class="text-secondary">{{ user.email }}</p>
            </div>
          </div>
    </div>
        <form class="g-brd-around g-brd-gray-light-v4 g-pa-30 g-mb-30" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Profile Info</legend>
            {{ u_form|crispy }}
            {{ p_form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-md u-btn-inset u-btn-primary g-mr-10 g-mb-15" type="submit">Update</button>
        </div>
    </form>
    </div>
{% endblock content %}
